---
import type { Link } from '../../data/layouts/links';
const { href, title } = Astro.props as Link;
---

<a
  href={href}
  class="buttons p-1 px-2 block relative max-w-48 bg-black dark:bg-white z-[99] text-white dark:text-black uppercase text-sm font-bold leading-7 rounded transition-colors duration-200"
>
  {title}
</a>
