---
import type { Link } from '../../data/layouts/links';
const { href, title } = Astro.props as Link;
---

<a
  href={href}
  class="buttons p-1 px-2 block relative max-w-48 border bg-black border-[#24365a] z-[99] text-white border-solid uppercase text-sm font-bold leading-7"
>
  {title}
</a>
<div
  class="absolute border border-black transform origin-top-right transition-all duration-300 -top-1 right-1 w-full h-full group-hover:top-0 group-hover:right-0"
>
</div>

<script>
  import { isSideMenuOpen } from '../../store.ts';
  document.addEventListener('astro:page-load', () => {
    const sideMenuBackground = document.getElementById('side_Menu_bg');

    const handleOpenSideMenu = (event) => {
      const target = event.target as HTMLElement;

      // Verifica si el target es un elemento de enlace
      if (target.tagName === 'A') {
        console.log(`Clicked on: ${target.textContent}`);
      }

      isSideMenuOpen.set(!isSideMenuOpen.get());
    };

    document.addEventListener('astro:page-load', () => {
      const buttons = document.getElementsByTagName('a');
      isSideMenuOpen.set(false);
      sideMenuBackground?.classList.add('hidden');

      Array.from(buttons).forEach((button) => {
        button.addEventListener('click', handleOpenSideMenu);
      });

      setInterval(() => {
        const openState = isSideMenuOpen.get();
        console.log(`isSideMenuOpen: ${openState}`);
      }, 2000);
    });
  });
</script>
