---
import type { Link } from '../../data/layouts/links';
const { href, title } = Astro.props as Link;
---

<a href={href} class="block relative border bg-[#3DD1E7] border-[#24365a] text-black border-solid p-1 md:px-2 uppercase text-sm font-bold leading-7">
  {title}
</a>
