---
import BaseLayout from '../../layouts/BaseLayout.astro';

const admissionPosts = await Astro.glob('../admission/*.md');
const careerPosts = await Astro.glob('../career/*.md');

const allTags = new Set([...admissionPosts.flatMap((post) => post.frontmatter.tags), ...careerPosts.flatMap((post) => post.frontmatter.tags)]);

const pageTitle = 'Índice de Tags';
---

<BaseLayout pageTitle={`${pageTitle}`}>

  <div class="flex flex-wrap max-w-xs md:max-w-md justify-center gap-2 ">
    {
      Array.from(allTags).map((tag) => (
        <p class="m-1 outline rounded-sm px-2 py-4 text-xs hover:bg-gray-400  uppercase">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  /* .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  } */
</style>
