---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getStaticPaths } from '../../components/utils/getTags';

const { allTags } = await getStaticPaths();

const pageTitle = 'Índice de Tags';
---

<BaseLayout pageTitle={`${pageTitle}`}>
  <div class="flex flex-wrap justify-center gap-2 my-4">
    {
      allTags.length > 0 ? (
        allTags.map((tag) => (
          <p class="px-4 py-2 text-lg font-bold uppercase text-white bg-black rounded-full shadow-md hover:bg-gray-800 hover:scale-105 transition-transform">
            <a href={`/tags/${tag}`} title={`Ver elementos con el tag ${tag}`}>
              {tag}
            </a>
          </p>
        ))
      ) : (
        <p class="text-lg font-bold text-gray-500">No hay tags disponibles.</p>
      )
    }
  </div>
</BaseLayout>
