---
import BaseLayout from '../../layouts/BaseLayout.astro';

const admissionPosts = await Astro.glob('../admission/*.mdx');
const careerPosts = await Astro.glob('../career/*.mdx');

const allTags = new Set([...admissionPosts.flatMap((post) => post.frontmatter.tags), ...careerPosts.flatMap((post) => post.frontmatter.tags)]);

const pageTitle = 'Índice de Tags';
---

<BaseLayout pageTitle={`${pageTitle}`}>
  <div class="flex flex-wrap justify-center gap-2 my-4">
    {
      Array.from(allTags).map((tag) => (
        <p class="px-4 py-2 text-lg font-bold uppercase  text-white bg-black rounded-full shadow-md hover:bg-gray-800 hover:scale-105 transition-transform">
          <a href={`/tags/${tag}`} title={`Ver elementos con el tag ${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>
