---
import BaseLayout from '../../layouts/BaseLayout.astro';

const blogPosts = await Astro.glob('../posts/*.md');
const careerPosts = await Astro.glob('../../pages/posts/career/*.md');

const allTags = new Set([...blogPosts.flatMap((post) => post.frontmatter.tags), ...careerPosts.flatMap((post) => post.frontmatter.tags)]);

const pageTitle = 'Índice de Tags';
---

<BaseLayout pageTitle={`UTN Curso de Ingreso - ${pageTitle}`}>
  <h1 class="text-center uppercase">Tags</h1>
  <div class="tags flex justify-center max-w-3xl">
    {
      Array.from(allTags).map((tag) => (
        <p class="tag uppercase">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
