---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const matchedCareerPosts = await getCollection('career');
  const careerPosts = Object.values(matchedCareerPosts);

  const allPosts = [...careerPosts];

  const allTags = Array.from(new Set(allPosts.flatMap((post) => post.data?.tags || [])));

  allTags.sort((a, b) => a.localeCompare(b));

  return {
    allTags,
  };
}

const { allTags } = await getStaticPaths();

const title = 'Índice de Tags';

function addSpaceBeforeSecondUpperCase(str: string) {
  return str.replace(/(?!^)([A-Z])/g, ' $1').trim();
}
---

<BaseLayout title={`${title}`}>
    <ul class="flex flex-wrap justify-center gap-2 max-w-2xl">
    {
      allTags.length > 0 ? (
        allTags.map((tag) => (
          <li class="px-2 md:px-4 py-2 text-lg font-bold uppercase text-white bg-black rounded-full shadow-md hover:bg-gray-800 hover:scale-105 transition-transform">
            <a href={`/tags/${tag}`} title={`Ver elementos con el tag ${tag}`}>
              {addSpaceBeforeSecondUpperCase(tag)}
            </a>
          </li>
        ))
      ) : (
        <p class="text-lg font-bold text-gray-500">No hay tags disponibles.</p>
      )
    }
    </ul>
</BaseLayout>
