---
import BaseLayout from '../layouts/BaseLayout.astro';
import CardPostImage from '../components/CardPostImage.astro';
import type { Post } from '../types/post';

const admissionPosts = Object.values(import.meta.glob('./admission/*.mdx', { eager: true })) as Post[];
const title = 'Curso De ingreso';
---

<BaseLayout title={`${title}`}>
  <div class="flex flex-col justify-center container mx-auto">
    <ul class="flex justify-center gap-2 flex-wrap">
      {
        admissionPosts.map((post) => (
          <CardPostImage
            url={post.url}
            tag={post.frontmatter?.image?.url || ''}
            alt={post.frontmatter?.image?.alt || 'Imagen sin descripción'}
            transition:name={post.frontmatter?.title}
          />
        ))
      }
    </ul>
  </div>
</BaseLayout>
