---
import BaseLayout from '../layouts/BaseLayout.astro';
import type { Correlativity } from '../types/correlativity';
const pageTitle = 'Correlatividades';
---

<BaseLayout pageTitle={`${pageTitle}`}>
  <div class="flex flex-col justify-center items-center container mx-auto text-center p-2">
    <table class="min-w-full divide-y divide-gray-200 shadow border-b border-gray-200 sm:rounded-lg">
      <thead class="bg-gray-50">
        <tr class="[&>*]:w-4">
          <th scope="col" class="md:px-6 md:py-3 text-left text-xs md:font-medium text-gray-500 uppercase md:tracking-wider"> Nº </th>
          <th scope="col" class="md:px-6 md:py-3 text-left text-xs md:font-medium text-gray-500 uppercase md:tracking-wider md:w-auto">
            ASIGNATURA
          </th>
          <th scope="col" class="md:px-6 md:py-3 text-left text-xs md:font-medium text-gray-500 uppercase md:tracking-wider">
            PARA CURSAR Y RENDIR
          </th>
          <th scope="col" class="md:px-6 md:py-3 text-left text-xs md:font-medium text-gray-500 uppercase md:tracking-wider"> Cursadas </th>
          <th scope="col" class="md:px-6 md:py-3 text-left text-xs md:font-medium text-gray-500 uppercase md:tracking-wider"> Aprobadas </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200 text-xs">
        <tr>
          <td class="bg-green-300">1</td>
          <td class="bg-green-300">Programación I</td>
          <td class="bg-green-300">-</td>
          <td class="bg-green-300">Cursada </td>
          <td class="bg-green-300">Aprobada ✅ </td>
        </tr>
        <tr class="[&>*]:bg-green-300">
          <td>2</td>
          <td>Arquitectura y Sistemas operativos</td>
          <td>-</td>
          <td>Cursada </td>
          <td>Aprobada ✅ </td>
        </tr>
        <tr class="[&>*]:bg-green-300">
          <td>3</td>
          <td>Matemática</td>
          <td>-</td>
          <td>Cursada </td>
          <td>Aprobada ✅ </td>
        </tr>
        <tr class="[&>*]:bg-green-300">
          <td>4</td>
          <td>Organización empresarial</td>
          <td>-</td>
          <td>Cursada </td>
          <td>Aprobada ✅ </td>
        </tr>
        <tr class="[&>*]:bg-yellow-300">
          <td>5</td>
          <td>Programación II</td>
          <td>1, 2</td>
          <td>-</td>
        </tr>
        <tr class="[&>*]:bg-yellow-300">
          <td>6</td>
          <td>Probabilidad y Estadística</td>
          <td>3</td>
          <td>-</td>
        </tr>
        <tr class="[&>*]:bg-yellow-300">
          <td>7</td>
          <td>Base de Datos I</td>
          <td>1, 3</td>
          <td>-</td>
        </tr>
        <tr class="[&>*]:bg-yellow-300">
          <td>8</td>
          <td>Inglés I</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Programación III</td>
          <td>5, 7</td>
          <td>1</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Base de Datos II</td>
          <td>7</td>
          <td>1</td>
        </tr>
        <tr>
          <td>11</td>
          <td>Metodología de Sistemas I</td>
          <td>5, 7</td>
          <td>1, 4</td>
        </tr>
        <tr>
          <td>12</td>
          <td>Inglés II</td>
          <td>8</td>
          <td>1</td>
        </tr>
        <tr>
          <td>13</td>
          <td>Programación IV</td>
          <td>9, 10, 11</td>
          <td>5, 7</td>
        </tr>
        <tr>
          <td>14</td>
          <td>Metodología de Sistemas II</td>
          <td>11</td>
          <td>4</td>
        </tr>
        <tr>
          <td>15</td>
          <td>Introducción al análisis de datos</td>
          <td>10</td>
          <td>6, 7</td>
        </tr>
        <tr>
          <td>16</td>
          <td>Legislación</td>
          <td>7</td>
          <td>4</td>
        </tr>
        <tr>
          <td>17</td>
          <td>Gestión de desarrollo de software</td>
          <td>9, 10</td>
          <td>5, 7</td>
        </tr>
      </tbody>
    </table>
  </div>
</BaseLayout>
