---
const title = 'Centro Universitario de Innovación';
// import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SideMenu from '../components/layout/SideMenu.astro';
import Footer from '../components/Footer.astro';
---

<Layout title={`${title}`}>
  <Header />
  <SideMenu />

  <!-- <Image
    src="/trabajoengrupo.jpeg"
    alt="trabajoengrupo"
    decoding="async"
    width={1200}
    height={1200}
    densities={[1.5, 2]}
    class="w-full h-lvh object-cover"
  /> -->
  <main class="z-10 flex flex-col items-center justify-center w-full h-full md:h-auto md:mt-30 mt-20">
    <div
      class="flex flex-col md:flex-row justify-center items-center bg-white bg-opacity-40 p-8 rounded-md shadow-lg space-y-6 md:space-y-0 md:space-x-10"
    >
      <div class="text-center md:text-left max-w-2xl md:min-w-2xl md:w-2xl flex flex-col gap-20 md:gap-0">
        <h2 class="font-serif font-semibold text-3xl md:text-4xl text-gray-800 md:text-gray-900 m-2 leading-snug tracking-wide md:text-center">
          Infórmate sobre la Tecnicatura Universitaria en Programación
        </h2>
        <h3 class="font-serif font-semibold text-2xl md:text-3xl text-gray-800 md:text-gray-900 m-2 leading-snug tracking-wide md:text-center">
          En La Universidad Técnica Nacional
        </h3>

        <div class="bg-black/90 p-2 rounded-md">
          <p class="text-white opacity-100 md:text-center l">
            Esta página web ha sido creada por Felipe Arce. Aunque no constituye apuntes oficiales, se alinea con la currícula de la UTN 2024. Me
            esfuerzo por mantenerla actualizada y espero que le resulte útil. La web está desarrollada con Astro en su última versión 5.0, utilizando
            transiciones de vista y aplicando prácticas de modularización. Además, se incorporan ejemplos como KaTeX en los apuntes de matemáticas y
            probabilidad.
          </p>
        </div>
      </div>
    </div>
    <a
      href="/NuevoPlanDeEstudio2025.pdf"
      download="NuevoPlanDeEstudio2025.pdf"
      class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-3 px-6 rounded m-8 mx-auto"
    >
      Descargar Nuevo Plan de Estudio
    </a>
  </main>
  <Footer />
</Layout>
