---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Centro Universitario de Innovación La Matanza';
import { Image } from 'astro:assets';
---

<BaseLayout pageTitle=`${pageTitle}`>
  <main class="flex flex-col items-center justify-center relative w-full h-full md:h-auto">
    <div
      class="flex flex-col md:flex-row justify-center items-center bg-white bg-opacity-90 p-8 rounded-md shadow-lg space-y-6 md:space-y-0 md:space-x-10"
    >
      <div class="text-center md:text-left max-w-sm">
        <h3 class="font-bold text-lg md:text-xl p-2">Infórmate sobre la Tecnicatura Universitaria en Programación.</h3>
        <p class="p-2">Aprende conceptos básicos teórico-prácticos, lógica de programación, compromiso y habilidades esenciales para el año 2024.</p>
      </div>
      <div class="w-full border shadow-xl rounded-xl relative">
        <Image
          src="/cudi.png"
          alt=" Centro Universitario de Innovación La Matanza"
          width="300"
          height="300"
          class="w-full h-auto rounded-xl hover:-mt-4 transition-all hover:bg-black hover:cursor-pointer transform duration-1000 ease-in-out"
        />
        <a
          href="https://www.google.com/maps/place/CUDI.+Centro+Universitario+de+la+Innovaci%C3%B3n.+Gonz%C3%A1lez+Cat%C3%A1n/@-34.7922353,-58.6309352,16.93z/data=!4m6!3m5!1s0x95bcc5925425fb9b:0xb6680e29203b8739!8m2!3d-34.7916041!4d-58.6286761!16s%2Fg%2F11p3f49zt8?hl=es-419&entry=ttu"
          target="_blank"
        >
          <div
            class="opacity-0 hover:opacity-95 hover:cursor-pointer transition-opacity duration-1000 z-10 top-5 right-20 max-w-[300px] absolute mx-auto bg-white shadow-md rounded-lg overflow-hidden"
          >
            <Image src="/centrouniversitariodeinnovacion.avif" width="35" height="35" class="w-full h-40 object-cover" alt="CUDI" />
            <div class="p-4">
              <h2 class="text-lg font-semibold text-gray-800">CUDI. Centro Universitario de la Innovación. González...</h2>
              <div class="flex items-center mt-2">
                <svg class="w-5 h-5 text-yellow-500" fill="currentColor" viewBox="0 0 20 20">
                  <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.562 4.83a1 1 0 00.95.69h5.059c.969 0 1.372 1.24.588 1.81l-4.093 2.98a1 1 0 00-.364 1.118l1.562 4.83c.3.921-.755 1.688-1.54 1.118L10 15.417l-4.093 2.98c-.784.57-1.84-.197-1.54-1.118l1.562-4.83a1 1 0 00-.364-1.118l-4.093-2.98c-.784-.57-.38-1.81.588-1.81h5.059a1 1 0 00.95-.69l1.562-4.83z"
                  ></path>
                </svg>
                <span class="text-gray-700 ml-1">4.5</span>
                <span class="text-gray-500 ml-1">(906)</span>
                <span class="text-gray-700 mx-2">·</span>
                <span class="text-gray-500">Escuela universitaria</span>
                <svg class="w-5 h-5 text-gray-500 ml-2" fill="currentColor" viewBox="0 0 20 20">
                  <path
                    d="M5 8a3 3 0 116 0v3a3 3 0 11-6 0V8zM7 4a5 5 0 0110 0v3a5 5 0 01-10 0V4zM2 14a2 2 0 012-2h10a2 2 0 012 2v1a2 2 0 01-2 2H4a2 2 0 01-2-2v-1z"
                  ></path>
                </svg>
              </div>
              <div class="flex items-center mt-2">
                <span class="text-green-500">Abierto</span>
                <span class="text-gray-500 mx-2">·</span>
                <span class="text-gray-500">Cierra a las 7 p.m.</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <a
      href="NuevoPlanDeEstudio2024.pdf"
      download="NuevoPlanDeEstudio2024.pdf"
      class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-3 px-6 rounded m-8 mx-auto"
    >
      Descargar Nuevo Plan de Estudio
    </a>
  </main>
</BaseLayout>
