---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Inicio";
---
<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-center uppercase">{pageTitle}</h1>
  
  <Greeting client:load messages={["📚", "📔", "🥸", "👋"]} />
  <div class="flex justify-center">
    <img src="/centrouniversitariodeinnovacion.jpg" alt="centro universitario de innovacion" class="rounded-xl max-h-52 " />
  </div>
  <div class="flex justify-center mt-4">
    <a href="/PlanDeEstudio.pdf" download="PlanDeEstudio.pdf" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Descargar Plan de estudio
    </a>
  </div>
</BaseLayout>