---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import { Image } from 'astro:assets';
const pageTitle = 'Inicio';
---

<BaseLayout pageTitle=`${pageTitle}`>

  <Greeting client:load messages={['📚', '📔', '🥸', '👋']} />
  <div class="flex justify-center">
    <Image src="/centrouniversitariodeinnovacion.avif" alt="centro universitario de innovacion" width={320} height={180} />
  </div>
  <div class="flex justify-center mt-4">
    <a
      href="NuevoPlanDeEstudio2024.pdf"
      download="NuevoPlanDeEstudio2024.pdf"
      class="bg-blue-600 hover:bg-blue-800 text-white font-bold my-4 py-3 px-6 rounded focus:outline-none focus:shadow-outline-blue active:bg-blue-800"
    >
      Descargar Plan de Estudio 2024
    </a>
  </div>
</BaseLayout>
