---
const title = 'Tecnicatura Universitaria en Programación - UTN 2025';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SideMenu from '../components/layout/SideMenu.astro';
import Footer from '../components/Footer.astro';
import { YouTube } from 'astro-embed';
import ProgramShowCase from '../components/ProgramShowCase.astro';
import LogoIcon from '../components/LogoIcon.astro';
---

<Layout title={`${title}`}>
  <header class="sm:border-1 sm:border-gray-200">
    <div class="block sm:hidden px-8 pt-8">
      <LogoIcon />
    </div>
    <Header />
  </header>
  <SideMenu />
  <main class="max-w-3xl mx-auto md:h-auto">
    <h2 class="text-4xl px-2 md:px-0 md:text-5xl font-bold text-center mt-8 mb-4">Tecnicatura Universitaria en Programación</h2>
    <ProgramShowCase />
    <h3 class="text-3xl md:text-4xl font-bold text-center mt-4 md:mt-2 text-gray-700">Construí el futuro que soñas.</h3>

    <div class="w-full flex justify-center mt-4">
      <a
        href="/NuevoPlanDeEstudio2025.pdf"
        download="NuevoPlanDeEstudio2025.pdf"
        class="bg-black hover:bg-zinc-800 text-white hover:text-zinc-200 max-w-80 md:max-w-max p-2"
        title="Descargar Nuevo Plan de Estudio 2025"
        aria-label="Descargar Nuevo Plan de Estudio 2025"
      >
        Descargar Nuevo Plan de Estudio 2025
      </a>
    </div>
    <div class="my-4 md:my-8 max-w-4xl mx-auto text-gray-800 p-2 md:p-0">
      <p class="text-lg md:text-start leading-relaxed">
        Esta página está diseñada para ayudar a interesados en la
        <strong class="font-semibold">Tecnicatura Universitaria en Programación</strong> UTN 2025. Aunque no es oficial, sigue la currícula de la UTN y
        se actualiza constantemente para brindar apoyo a los estudiantes.
      </p>
      <p class="text-lg md:text-start leading-relaxed">Además, proporciona recursos clave para que los aspirantes se preparen adecuadamente.</p>

      <p class="text-lg md:text-start leading-relaxed">
        La carrera abarca materias fundamentales como programación en diferentes niveles, matemáticas, bases de datos, estadística, inglés y más.
        También incluye asignaturas avanzadas como metodología de sistemas, gestión de desarrollo de software y análisis de datos, culminando con un
        trabajo final integrador que refleja el aprendizaje acumulado.
      </p>
      <p class="text-lg md:text-start leading-relaxed">
        La UTN ofrece una curricula que en las diferentes sedes se adoptan desde un enfoque diferente , pueden cambiar el abordaje de las materias y
        el nivel de exigencia, dependiendo de la sede y del cuerpo docente.
      </p>
      <h4 class="text-2xl font-semibold text-start py-4">-- Perfil del Egresado --</h4>
      <p class="text-lg md:text-start leading-relaxed">
        Los egresados de la Tecnicatura Universitaria en Programación están capacitados para desarrollar software en diversos lenguajes, gestionar
        bases de datos y administrar sistemas operativos. Su formación incluye conocimientos en matemáticas, estadísticas y metodologías de sistemas,
        lo que les permite abordar problemas complejos y gestionar proyectos de software con éxito. También destacan por sus habilidades de liderazgo,
        trabajo en equipo y adaptabilidad a entornos dinámicos.
      </p>
      <h4 class="text-2xl font-semibold text-start py-16" id="Certificación">Certificación</h4>
      <p class="text-lg md:text-start leading-relaxed">
        El titulo de Tecnico Universitario En programación va respaldado por la respetada institución de Universidad Tecnica Nacional
      </p>
      <h4 class="text-2xl font-semibold text-start py-16" id="Metodologia">Metodología</h4>
      <p class="text-lg md:text-start leading-relaxed">
        La metodología de la carrera va desenvuelta entre las diferentes tecnologias base para poder trabajar en el mundo de la programación
      </p>

      <p class="mt-6 text-sm text-gray-600">
        ¡Inscríbete y comienza tu camino hacia una exitosa carrera en programación! Puedes hacerlo a
        <a
          href="https://utn.edu.ar/es/estudiar-utn?tipo_busqueda=carreras&id_tipos_carreras=3&id_seleccion=782"
          class="text-blue-700 hover:text-blue-900 text-lg font-bold"
          title="Inscripción a carreras de programación a distancia en UTN"
          rel="nofollow"
        >
          Distancia
        </a>
        o de forma
        <a
          href="https://utn.edu.ar/es/estudiar-utn?tipo_busqueda=carreras&id_tipos_carreras=3&id_seleccion=63"
          class="text-blue-700 hover:text-blue-900 text-lg font-bold"
          title="Inscripción a carreras de programación presencial en UTN"
          rel="nofollow"
        >
          Presencial
        </a>.
      </p>
    </div>

    <div class="p-4">
      <YouTube id="https://www.youtube.com/watch?v=5azNrCaiqFo" class="rounded-xl md:p-0" posterQuality="max" />
    </div>
  </main>
</Layout>
<Footer />
