---
const title = 'Tecnicatura Universitaria en Programación - UTN 2025';
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SideMenu from '../components/layout/SideMenu.astro';
import Footer from '../components/Footer.astro';
---

<Layout title={`${title}`}>
  <Header />
  <SideMenu />

  <main class="md:h-auto ">
    <h2 class="sr-only">
      Tecnicatura Universitaria en Programación
    </h2>
    <Image
      src="/Portada.avif"
      alt="Portada de Inscripción a la Tecnicatura Universitaria en Programación"
      aria-label="Portada de Inscripción a la Tecnicatura Universitaria en Programación"
      title="Portada de Inscripción a la Tecnicatura Universitaria en Programación"
      decoding="async"
      width={1920}
      height={1080}
      densities={[1.5, 2]}
      class="w-full max-w-xl  md:max-w-2xl xl:max-w-5xl mx-auto md:-my-1"
    />

    <a
      href="/NuevoPlanDeEstudio2025.pdf"
      download="NuevoPlanDeEstudio2025.pdf"
      class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-3 px-6 rounded text-center mx-auto uppercase my-10 block max-w-sm md:max-w-lg"
      title="Descargar Nuevo Plan de Estudio"
      aria-label="Descargar Nuevo Plan de Estudio"
    >
      Descargar Nuevo Plan de Estudio
    </a>

    <div class="p-6 border-2 my-4 md:my-8 max-w-4xl mx-auto text-gray-800">
      <p class="text-lg md:text-start opacity-90 leading-relaxed">
        Esta página web ha sido creada por <strong class="font-semibold">Felipe Arce</strong>, un estudiante que desea ayudar a aquellos interesados
        en la <strong class="font-semibold">Tecnicatura Universitaria en Programación</strong> UTN 2025. Aunque no constituye apuntes oficiales, esta web
        sigue de cerca la currícula oficial de la UTN y se mantiene constantemente actualizada para ser útil a los futuros estudiantes. La web está desarrollada
        con <strong class="font-semibold">Astro 5.0</strong>, aprovechando las últimas tecnologías web, y emplea prácticas avanzadas de modularización
        y transiciones de vista para una mejor experiencia de usuario. Además, incluye ejemplos prácticos de <strong class="font-semibold"
          >KaTeX</strong
        > en los apuntes de <strong class="font-semibold">matemáticas</strong> y <strong class="font-semibold">probabilidad</strong>.
      </p>

      <p class="text-lg md:text-start opacity-90 leading-relaxed mt-4">
        Las materias que componen a la carrera incluye asignaturas fundamentales como programación en diversos lenguajes, estructuras de datos, bases de datos, sistemas
        operativos, matemáticas y más
      </p>
      
      <h3 class="text-2xl font-semibold text-start mt-6">Perfil del Egresado:</h3>
      <p class="text-lg md:text-start opacity-90 leading-relaxed mt-4">
        El perfil del egresado de la Tecnicatura Universitaria en Programación se caracteriza por su capacidad para desarrollar software, gestionar
        bases de datos y administrar sistemas tecnológicos. Los graduados están preparados para trabajar en equipos multidisciplinarios y enfrentarse
        a desafíos en la industria tecnológica.
      </p>

      <p class="text-sm text-gray-600 mt-6">
        ¡No dejes pasar esta oportunidad! Inscríbete y empieza tu camino hacia una exitosa carrera en programación.
      </p>
    </div>
  </main>
</Layout>
<Footer />
