---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import { Image } from 'astro:assets';
const pageTitle = 'Inicio';
---

<BaseLayout pageTitle=`${pageTitle}`>
  <Greeting client:load messages={['📚', '📔', '🥸', '👋']} />

  <main class="flex flex-col items-center justify-center relative w-full md:max-w-2xl h-full md:h-auto">
    <div class="flex justify-center relative w-full">
      <img src="/centrouniversitariodeinnovacion.avif" alt="University Building" class="object-cover relative" />
      <a
        href="NuevoPlanDeEstudio2024.pdf"
        download="NuevoPlanDeEstudio2024.pdf"
        class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-3 px-6 rounded absolute top-[80%] md:top-[5%] mx-auto"
      >
        Descargar Nuevo Plan de Estudio
      </a>
    </div>
  </main>
</BaseLayout>
