---
import { Icon } from 'astro-icon/components';
---

<button
  class="block sm:hidden relative bg-black border-[#24365a] text-black border-solid p-1 uppercase text-sm font-bold leading-7"
  id="nav_button"
  aria-label="boton para abrir el menu"
>
  <Icon name="burger" width={28} height={28} />
</button>
