---
import Social from './Social.astro';
const socialMedias = [
  { red: 'instagram', perfil: 'https://www.instagram.com/arceprog/' },
  { red: 'twitter', perfil: 'https://twitter.com/Felipe_skt1' },
  { red: 'github', perfil: 'https://github.com/arceprogramando' },
  { red: 'portfolio', perfil: 'https://arceprog.dev' },
];
import { Image } from 'astro:assets';
---

<footer class="bg-opacity-90 mx-auto">
  <p class="text-center">
    creado por <span class="font-bold">Felipe Arce</span>
  </p>
  <div class="border-t-2 pt-2 md:px-20">
    <nav class="md:p-2 ">
      <ul class="flex justify-center items-center gap-2">
        {
          socialMedias.map((media) => (
            <li>
              <Social platform={media.perfil} red={media.red} />
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</footer>
