---
import Social from "./Social.astro";
const socialMedias = [
  { red: "instagram", perfil: "https://www.instagram.com/arceprog/" },
  { red: "twitter", perfil: "https://twitter.com/Felipe_skt1" },
];
---

<footer class="max-w-4xl mx-auto">
  <p class="text-center">creado por <span class=" text-teal-400">Felipe Arce</span></p>
  <div class="border-t-2 pt-2 md:px-20">
    <nav class="p-2 flex justify-center">
      <ul class="flex justify-center items-center gap-2">
        {
          socialMedias.map((media) => (
            <li>
              <Social platform={media.red} username={media.perfil} />
            </li>
          ))
        }
        <li>
          <a href="https://www.cudi.ar" target="_blank">
            <img src="/cudilogo.png" alt="Logo CUDI" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
