---
import Greeting from './Greeting';
import Social from './Social.astro';

const socialMedias = [
  { red: 'instagram', perfil: 'https://www.instagram.com/arceprog/', color: 'bg-blue-500 text-white' },
  { red: 'twitter', perfil: 'https://x.com/arceprog', color: 'bg-blue-400 text-white' },
  { red: 'github', perfil: 'https://github.com/arceprogramando', color: 'bg-gray-800 text-white' },
  { red: 'portfolio', perfil: 'https://arceprog.dev', color: 'bg-green-500 text-white' },
];
---

<footer class="py-2 bg-opacity-90 mx-auto sticky bottom-0 w-full bg-slate-100">
  <p class="text-center text-lg text-gray-600">
    creado por <span class="font-bold">Felipe Arce</span>
  </p>

  <Greeting client:load messages={['📚', '📔', '🥸', '👋']} />
  <div class="border-t-2 pt-2 md:px-20">
    <nav class="md:p-2">
      <ul class="flex justify-center items-center gap-2 font-bold">
        {
          socialMedias.map((media) => (
            <li>
              <Social platform={media.perfil} red={media.red} color={media.color} />
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</footer>
