---
import Social from './Social.astro';

const socialMedias = [
  { red: 'instagram', perfil: 'https://www.instagram.com/arceprog/', alt: 'Síguenos en Instagram' },
  { red: 'x', perfil: 'https://x.com/arceprog', alt: 'Síguenos en X' },
  { red: 'github', perfil: 'https://github.com/arceprogramando/utn_cursoingreso', alt: 'Ver Proyecto en Github' },
  { red: 'portfolio', perfil: 'https://arceprog.dev', alt: 'Ver portfolio Felipe Arce' },
];
---

<footer class="py-4 mx-auto mb-20 md:mb-0">
  <nav>
    <ul class="flex gap-4 justify-center items-center font-bold">
      {
        socialMedias.map((media) => (
          <li>
            <Social
              platform={media.perfil}
              red={media.red}
              icon={media.red}
              alt={media.alt}
              classValues="hover:underline font-bold uppercase hover:text-green-900"
            />
          </li>
        ))
      }
    </ul>
  </nav>
</footer>
