---
import Navigation from './Navigation.astro';
---

<header class="hidden md:block">
  <nav class="flex justify-around md:justify-between items-center max-w-3xl mx-auto m-4">
    <a href="/">
      <img src="/logoutn.avif" alt="Logo Universidad Tecnica Nacional" class="h-4 md:h-6 md:w-auto p-0" />
      <h1 class="sr-only">Universidad Tecnica Nacional</h1>
    </a>
    <Navigation />
  </nav>
</header>
