---
import Navigation from './Navigation.astro';
---

<header class="sticky top-0 right-0 md:static z-50 md:block py-2 mb-4 bg-white shadow-md">
  <nav class="flex justify-around md:justify-between items-center max-w-3xl mx-auto m-4">
    <a href="/">
      <img src="/logoutn.avif" alt="Logo Universidad Tecnologica Nacional" class="h-4 md:h-6 md:w-auto p-0 z-10" width="100" height="40" />
      <h1 class="sr-only">Universidad Tecnológica Nacional</h1>
    </a>

    <Navigation />
  </nav>
</header>
