---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---
<header class="bg-white">
  <div class="bg-black text-white p-2">
    <h1 class="text-center text-2xl uppercase">
      Tecnicatura universitaria <span class="block"> en Programación</span>
    </h1>
  </div>
  <nav class="m-4">
    <Hamburger />
    <Navigation />
  </nav>
</header>