---
import LogoIcon from '@/components/LogoIcon.astro';
import Navigation from '@/components/Navigation.astro';
---

<div
  class="
    fixed top-0 left-0 w-full
    py-4 z-50

    /* 🔆 MODO CLARO */
    bg-[var(--bg-primary)]/90
    backdrop-blur-md

    /* 🌙 MODO OSCURO */
    dark:bg-zinc-700/70
    dark:backdrop-blur-md

    /* BORDES */
    border-t border-[var(--border)]/60
    dark:border-zinc-600/60
    sm:border-0

    /* SOMBRA */
    shadow-lg shadow-[var(--text-primary)]/10
    dark:shadow-black/30

    /* TRANSICIÓN */
    transition-colors duration-200
  "
>
  <nav
    class="flex justify-between items-center px-4 sm:px-0 max-w-3xl sm:mx-auto"
  >
    <LogoIcon />
    <Navigation />
  </nav>
  <span class="sr-only">Universidad Tecnológica Nacional</span>
</div>
