---
// import Link from './layout/Link.astro';
import { linksData } from '../data/layouts/links';
import { Icon } from 'astro-icon/components';
---

<ul class="hidden md:flex md:gap-4">
  {
    linksData.map((item) => (
      <li class="relative cursor-pointer group">
        {/* <Link {...Link} /> */}
        <a
          href={item.href}
          class="block relative  border bg-[#3DD1E7] border-[#24365a] text-black border-solid p-1  md:px-2 uppercase text-sm font-bold leading-7"
        >
          {item.title}
        </a>
        <div class="absolute border border-black transform origin-top-right transition-all duration-300 -top-1 right-1 w-full h-full  group-hover:top-0 group-hover:right-0" />
      </li>
    ))
  }
</ul>
<button
  class="block md:hidden relative border bg-[#3DD1E7] border-[#24365a] text-black border-solid p-1 uppercase text-sm font-bold leading-7"
  id="nav_button"
  aria-label="boton para abrir el menu"
>
  <Icon name="burger" width={28} height={28} />
</button>

<script>
  import { isSideMenuOpen } from '../store.ts';
  const button = document.getElementById('nav_button');

  const handleOpenSideMenu = () => {
    isSideMenuOpen.set(true);
  };

  button?.addEventListener('click', () => handleOpenSideMenu());
</script>
