---
import { linksData } from '../data/layouts/links';
import { Icon } from 'astro-icon/components';
---

<ul class="flex gap-2 md:gap-4 flex-wrap items-center justify-center">
  {
    linksData.map(({ href, title }) => (
      <li class="relative cursor-pointer group z-10">
        <a
          href={href}
          class="block relative border bg-black z-[11] border-[#24365a] dark:border-white text-white border-solid p-1 md:px-2 uppercase text-sm font-bold leading-7"
        >
          {title}
        </a>
        <div class="absolute border border-black dark:border:z transform origin-top-right transition-all duration-300 -top-1 right-1 w-full h-full group-hover:top-0 group-hover:right-0" />
      </li>
    ))
  }
</ul>


<script>
  import { isSideMenuOpen } from '../store.ts';
  const button = document.getElementById('nav_button');

  const handleOpenSideMenu = () => {
    isSideMenuOpen.set(!isSideMenuOpen.get());
  };

  button?.addEventListener('click', () => handleOpenSideMenu());
</script>
