---
import { linksData } from '@/data/layouts/links';
import ThemeToggle from '@/components/ThemeToggle.astro';
---

<div class="hidden sm:flex sm:items-center sm:gap-4">
  <ul class="flex gap-2 md:gap-4">
    {
      linksData.map((item) => (
        <li class="relative cursor-pointer group z-10 ">
          <a
            href={item.href}
            class="block relative border bg-black dark:bg-white z-[11] border-black dark:border-gray-300 text-white dark:text-black border-solid p-1 md:px-2 uppercase text-sm font-bold leading-7"
            title={`Ir a página de ${item.title}`}
            aria-label={`Ir a página de ${item.title}`}
          >
            {item.title}
          </a>
          <div class="absolute border border-gray-600 dark:border-gray-400 transform origin-top-right transition-all duration-300 -top-1 right-1 w-full h-full group-hover:top-0 group-hover:right-0" />
        </li>
      ))
    }
  </ul>
  <ThemeToggle />
</div>
