---
const { platform, red, color, icon } = Astro.props;
import { Icon } from 'astro-icon/components';
---

<a href={platform} class={`border${color} rounded-lg `} target="_blank">
  {icon ? <Icon name={icon} width={24} height={24} class={color} /> : 'no tiene'}
</a>
