---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const { title } = Astro.props;
import SideMenu from '../components/layout/SideMenu.astro';
import { ClientRouter } from 'astro:transitions';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="content-language" content="es" />
    <meta property="og:locale" content="es_AR" />
    <meta
      name="description"
      content="Infórmate sobre la Tecnicatura Universitaria en Programación: Conceptos básicos teórico-prácticos, lógica, compromiso, programación y habilidades esenciales para el año 2024."
    />
    <meta
      property="og:description"
      content="Infórmate sobre la Tecnicatura Universitaria en Programación: Conceptos básicos teórico-prácticos, lógica, compromiso, programación y habilidades esenciales para el año 2024."
    />
    <meta name="twitter:creator" content="@felipearce" />
    <meta property="og:image" content="https://res.cloudinary.com/dyanh7yda/image/upload/v1705374365/c77n6krmnazj9yaafrxh.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content="https://utn-cursoingreso.vercel.app" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Tecnicatura Universitaria en Programación" />
    <meta name="google-site-verification" content="QbnO1zhnFpEbeVyVd9WcIysRpWTboN0RrG3NHIF3BwU" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://res.cloudinary.com/dyanh7yda/image/upload/v1705374365/c77n6krmnazj9yaafrxh.jpg" />
    <meta
      name="keywords"
      content="Tecnicatura en Programación, UTN, CUDI, La Matanza, González Catán, Estudiar Programación, Apuntes de Programación"
    />
    <meta name="author" content="Felipe Arce" />
    <meta name="robots" content="index, follow" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="googlebot" content="index,follow" />
    <meta name="google" content="nositelinkssearchbox" />
    <meta name="google" content="notranslate" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://utn-cursoingreso.vercel.app" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Tecnicatura Universitaria en Programación" />
    <meta
      property="og:description"
      content="Infórmate sobre la Tecnicatura Universitaria en Programación: Conceptos básicos teórico-prácticos, lógica, compromiso, programación y habilidades esenciales para el año 2024."
    />
    <meta property="og:image" content="https://res.cloudinary.com/dyanh7yda/image/upload/v1705374365/c77n6krmnazj9yaafrxh.jpg" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="utn-cursoingreso.vercel.app" />
    <meta property="twitter:url" content="https://utn-cursoingreso.vercel.app" />
    <meta name="twitter:title" content="Tecnicatura Universitaria en Programación" />
    <meta
      name="twitter:description"
      content="Infórmate sobre la Tecnicatura Universitaria en Programación: Conceptos básicos teórico-prácticos, lógica, compromiso, programación y habilidades esenciales para el año 2024."
    />
    <meta name="twitter:image" content="https://res.cloudinary.com/dyanh7yda/image/upload/v1705374365/c77n6krmnazj9yaafrxh.jpg" />

    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="flex flex-col justify-between bg-white">
    <div>
      <Header />
      <SideMenu />
      <main class="flex flex-col items-center max-w-5xl bg-opacity-80 mx-auto bg-slate-100 pb-40 reset">
        <h2 class="text-center max-w-2xl uppercase p-2 text-4xl leading-none md:text-5xl font-bold gradient" transition:animate="slide">{title}</h2>
        <slot />
      </main>
    </div>

    <Footer />
    <div
      class="hidden md:block absolute bottom-0 left-0 right-0 top-[80px] shadow-sm -z-[999] bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)]"
    >
    </div>
  </body>
</html>

<style>
  .gradient {
    font-weight: bold;
    background-image: linear-gradient(92deg, #635454 5%, #000000 90%, #635454);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fade-in 1s ease-in-out;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  body {
    --sb-track-color: #e0e0e000;
    --sb-thumb-color: #000000;
    --sb-size: 10px;
    overflow-y: scroll;
  }

  body::-webkit-scrollbar {
    width: var(--sb-size);
  }

  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
  }

  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
  }

  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }

  .reset {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
  }

  main {
    flex-grow: 1;
  }
</style>
