---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const { title, subTitle, description, keywords } = Astro.props;
import SideMenu from '../components/layout/SideMenu.astro';
import Layout from './Layout.astro';
import LogoIcon from '../components/LogoIcon.astro';
---

<Layout title={title} description={description} keywords={keywords}>
  <div class="flex flex-col justify-around min-h-screen">
    <header>
      <div class="sm:hidden px-8 pt-8 bg-white">
        <LogoIcon />
      </div>
      <Header />
    </header>
    <SideMenu />
    <main class="flex flex-col items-center max-w-5xl mx-auto mb-8">
      <h1
        class="text-center max-w-2xl my-8 md:my-4 text-4xl leading-none md:text-5xl font-bold gradient"
      >
        {subTitle ? subTitle : title}
      </h1>
      <slot />
    </main>
    <Footer />
    <div
      class="absolute bottom-0 left-0 right-0 top-[5px] md:top-[70px] -z-[999] bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)]"
    >
    </div>
  </div>
</Layout>

<style>
  h2 {
    font-family: 'Dancing Script', cursive;
    transform: skewX(-20deg);
  }
</style>
