---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { pageTitle } = Astro.props;
---

<html lang="en" class="overflow-x-hidden 2xl:max-w-6xl mx-auto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.svg" />
    <title>{pageTitle}</title>
  </head>
  <body class="flex flex-col min-h-svh justify-between">
    <Header />
    <main class="flex flex-col flex-1">
      <slot />
      <div class="flex justify-center">
        <img src="/centrouniversitariodeinnovacion.jpg" alt="centro universitario de innovacion" class="rounded-xl max-h-52 " />
      </div>
    </main>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
