---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { pageTitle } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="content-language" content="es" />
    <meta property="og:locale" content="es_AR" />
    <meta
      name="description"
      content="Descubre apuntes y recursos para la Tecnicatura Universitaria en Programación. Incluye temas de matemática, programación y lectura comprensiva para el año 2024."
    />
    <meta name="twitter:creator" content="@Felipe_skt1" />
    <meta
      property="og:image"
      content="https://res.cloudinary.com/dyanh7yda/image/upload/v1705374365/c77n6krmnazj9yaafrxh.jpg"
    />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content="https://astro-practice-woad.vercel.app" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="Descubre apuntes y recursos para la Tecnicatura Universitaria en Programación. Incluye temas de matemática, programación y lectura comprensiva para el año 2024."
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image"
      content="https://res.cloudinary.com/dyanh7yda/image/upload/v1705374365/c77n6krmnazj9yaafrxh.jpg"
    />
    <meta
      name="keywords"
      content="Tecnicatura en Programación, UTN, CUDI, La Matanza, González Catán, Estudiar Programación, Apuntes de Programación"
    />
    <meta property="og:title" content={pageTitle} />
    <meta
      name="description"
      content="Apuntes para la tecnicatura universitaria en programacion , 2024 , matematica , programacion y lectura compreensiva "
    />
    <meta name="author" content="Felipe Arce" />
    <meta name="robots" content="index, follow" />
    <meta property="og:type" content="article" />
    <link rel="icon" href="/favicon.svg" />

    <title>{pageTitle}</title>
  </head>

  <body class="min-h-screen flex flex-col justify-between bg-white">
    <div>
      <Header />
      <main
        class="flex flex-col items-center max-w-5xl bg-opacity-80 mx-auto bg-slate-100"
      >
        <slot />
      </main>
    </div>

    <Footer />
    <div
      class="absolute -z-10 bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)]"
    >
    </div>
  </body>
</html>
